<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famish</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/brand.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/messages.css">

    <!-- JavaScript -->
</head>
<body>
    <% if (message) { %>
        <section id="message" class="<%= message.class %>">
            <p><%- message.text %></p>
        </section>
    <% } %>
    <header>
        <section id="logo-and-name">
            <h1>
                Famish
                <% if (user) { %>
                    - <%= user.username %>
                <% } %>
            </h1>
        </section>
        <hr>
        <% if (user) { %>
        <nav>
            <ul>
                <li class="<%= currentPath.startsWith('/meals') ? 'active' : '' %>">
                    <a href="/meals">Meals</a>
                </li>
                <li class="<%= currentPath.startsWith('/dishes') ? 'active' : '' %>">
                    <a href="/dishes">Dishes</a>
                </li>
                <li class="<%= currentPath.startsWith('/ingredients') ? 'active' : '' %> disabled">
                    <a href="/ingredients">Ingredients</a>
                </li>
                <li class="<%= currentPath.startsWith('/users') ? 'active' : '' %>">
                    <a href="/users/<%= user._id %>">Family</a>
                </li>
            </ul>
        </nav>
        <% } else { %>
            <p>Happy meals for every family member</p>
        <% } %>
    </header>