<%- include('../partials/_header.ejs') %>

<main>
    <div class="title"><h2>Manage a Dish</h2></div>
    <div class="datalist">
        <form id="manageDishForm" action="/dishes/<%= dish._id %>?_method=PUT" method="post">
            <fieldset <%= dish.owner._id.equals(user._id) ? '' : 'disabled' %>>
                <div class="display-row">
                    <label for "name">Name</label>
                    <input name="name" id="name" type="text" value="<%= dish.name %>">
                </div>
                <div class="display-row">
                    <label for "minutes">Prep</label>
                    <input name="minutes" id="minutes" type="number" min="1" value="<%= dish.minutes %>">
                    <label class="unitOfMeasurement">minutes</label>
                </div>
                <div class="display-row">
                    <label for "ingredients">Ingredients</label>
                    <input name="ingredients" id="ingredients" type="text" value="<%= dish.ingredients %>">
                </div>
                <div class="display-row">
                    <label for "recipe">Recipe link</label>
                    <input name="recipe" id="recipe" type="url" value="<%= dish.recipe %>">
                </div>
                <div class="display-row">
                    <label for "owner">Owner</label>
                    <input disabled value=<%= dish.owner.username %>>
                </div>
            </fieldset>
        </form>

    </div>
    <div class="actions">
        <% if (dish.owner.equals(user._id)) { %>
            <button class="button primary" type="submit" form="manageDishForm">Confirm changes</button>
            <form id="deleteDishForm" action="/dishes/<%= dish._id %>?_method=DELETE" method="POST">
                <button id="deleteDishButton" type="submit" class="button">Remove dish</button>
            </form>
        <% } %>
        <a href="/dishes" class="button">Return to overview</a>
    </div>
</main>

<script>
    // Require repeat click on Delete to confirm
    const deleteForm = document.getElementById('deleteDishForm')
    const deleteButton = document.getElementById('deleteDishButton')
    let confirmed

    deleteForm.addEventListener('submit', (event) => {
        if (!confirmed) {
            event.preventDefault();
            deleteButton.innerText = 'Confirm removal';
            deleteButton.classList.add('confirmation');
            confirmed = true;
        }
    })
</script>

<%- include('../partials/_footer.ejs') %>