<%- include('../partials/_header.ejs') %>

<ul>
    <% meals.forEach(meal => { %>
        <li>
            <a href="/meals/<%= meal._id %>/edit">
                <%= meal.dish.name %> on <%= meal.date.toDateString() %>
            </a>
        </li>
    <% }) %>
</ul>

<a href="/meals/new">Add</a>

<%- include('../partials/_footer.ejs') %>