<%- include('../partials/_header.ejs') %>

<main>
    <div class="title"><h2>Your meal plan</h2></div>
    <div class="overview">
        <% meals.forEach(day => { %>
            <div class="subheader">
                <h3><%= day.date.toDateString() %></h3>
                <hr>
            </div>
            <% day.slots.forEach(slot => { %>
                <% slot.docs.forEach(meal => { %>
                    <div class="display-row">
                        <div class="react">
                            <button class="button small disabled" id="join-<%=meal._id %>">Join</button>
                        </div>
                        <div class="item">
                            <a href="/meals/<%= meal._id %>/edit">
                                <p><%= meal.timeOfDay %> (<%= meal.owner.username %>): <strong><%= meal.dish.name %></strong></p>
                            </a>
                        </div>
                    </div>
                <% }) %>
             <% }) %>
        <% }) %>
    </div>
    <div class="actions">
        <a href="/meals/new" class="button primary">Add Meal</a>
        <a href="/meals/new" class="button disabled">Print Meal Plan</a>
        <a href="/meals/new" class="button disabled">Print Plan's Ingredients</a>
    </div>
</main>

<%- include('../partials/_footer.ejs') %>