<%- include('../partials/_header.ejs') %>

<main>
    <form id="manage-user" action="/users/<%= user._id %>?_method=PUT" method="post">
        <label for "username">Name</label><input name="username" id="username" type="text" value="<%= user.username %>">
        <label for "password">Password</label><input name="password" id="password" type="password" value="<%= user.password %>">
        <label for "email">Email</label><input name="email" id="email" type="email" value="<%= user.email %>">
        <!-- Family code is not implemented yet -->
        
        <label for "family-code">Family Code</label><p>7132 612 53c763 713</p>

        <button type="submit" class="button primary">Save changes</button>
    </form>

    <a class="button" href="/">Discard changes</a>
    <a class="button" href="/users/sign-out">Sign-out</a>
    <a class="button" href="/">Delete user</a>
</main>

<%- include('../partials/_footer.ejs') %>