<%- include('../partials/_header.ejs') %>

<main>
    <div class="title"><h2>Manage the Family</h2></div>
    <div class="datalist">
        <form id="manageuser" action="/users/<%= user._id %>?_method=PUT" method="post">
            <div class="display-row">
                <label for "username">Name</label>
                <input name="username" id="username" type="text" value="<%= user.username %>">
            </div>
            <div class="display-row">
                <label for "password">Password</label>
                <input name="password" id="password" type="password" placeholder="Leave blank to keep current password">
            </div>
            <div class="display-row">
                <label for "email">Email</label>
                <input name="email" id="email" type="email" value="<%= user.email %>">        
            </div>
            <div class="display-row">
                <label for "familyname">Family</label>
                <input name="familyname" id="familyname" type="familyname" value="<%= user.familyname %>">        
            </div>
            <div class="display-row">
                <label for "familymembers">Members</label>
                <input disabled id="familymembers" value="<%= memberNames %>">
            </div>
        </form>
        <div class="display-row">
            <label for "familycode">Code</label>
            <input disabled id="familycode" value="<%= user.familycode %>">
            <button id="copy-to-clipboard-button" class="button small">Copy</button>
        </div>
    </div>

    <div class="actions">
        <button id="updateButton" form="manageuser" type="submit" class="button primary">Confirm changes</button>
        <a class="button" href="/users/sign-out">Sign-out</a>
        <a class="button disabled" href="/">Remove user</a>
    </div>
</main>

<script>
    // Copy family code to clipboard
    document.getElementById('copy-to-clipboard-button').addEventListener('click', async () => {
        try {
            const code = document.getElementById('familycode').value
            await navigator.clipboard.writeText(code)
        } catch (err) {
            console.error('Failed to copy to clipboard', err)
        }
    });
</script>

<script>
    // Require repeat click on Delete to confirm
    const manageForm = document.getElementById('manageuser')
    const updateButton = document.getElementById('updateButton')
    let confirmed

    manageForm.addEventListener('submit', (event) => {
        if (!confirmed) {
            event.preventDefault();
            updateButton.innerText = 'Heads up! Sure?';
            updateButton.classList.add('confirmation');
            confirmed = true;
        }
    })
</script>

<%- include('../partials/_footer.ejs') %>